<div class="card h-100">
  <div class="card-header bg-white">
    <h2 class="card-title">Colaboradores sinalizados</h2>
  </div>

  <div class="list-group list-group-flush">
    <ng-container *ngFor="let colaborador of colaboradores; let index = index">
      <div class="list-group-item">
        <div class="row">
          <div class="col-3">
            <img src="{{colaborador.imagem}}" alt="Avatar" class="img-avatar"/>
          </div>
          <div class="col-6 p-0">
            <span>{{colaborador.nome}}</span><br>
            <span>{{colaborador.cargo}}</span>
          </div>
          <div class="col-3 d-flex align-items-center">
            <fa-icon [icon]="faExclamationCircle" [styles]="{'color': getColor(colaborador)}" size="2x"></fa-icon>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
