<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3">
          <h2>
            Heading
          </h2>
          <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
        <div class="col-md-3">
          <h2>
            Heading
          </h2>
          <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
        <div class="col-md-3">
          <h2>
            Heading
          </h2>
          <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
        <div class="col-md-3">
          <h2>
            Heading
          </h2>
          <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div>
            <h1>Salário médio por departamento</h1>
            <canvas #barCanvas style="height:10vh; width:20vw"></canvas>
            <hr color="red">
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <h1>Salário médio por departamento</h1>
            <canvas #doughnutCanvas style="height:100px; width:100px"></canvas>
            <hr color="red">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">
          Card title
        </h5>
        <div class="card-body">
          <p class="card-text">
            Card content
          </p>
        </div>
        <div class="card-footer">
          Card footer
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">
          Card title
        </h5>
        <div class="card-body">
          <p class="card-text">
            Card content
          </p>
        </div>
        <div class="card-footer">
          Card footer
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div>
  <h1>Gráfico de barras</h1>
  <canvas #barCanvas style="height:10vh; width:20vw"></canvas>
  <hr color="red">
</div>

<div>
  <h1>Gráfico de linhas</h1>
  <canvas #lineCanvas style="height:10vh; width:20vw"></canvas>
  <hr color="red">
</div>

<div>
  <h1>Gráfico de radar</h1>
  <canvas #radarCanvas style="height:10vh; width:20vw"></canvas>
  <hr color="red">
</div>

<p>Fracassados do ano</p>
<div *ngFor="let employee of employees">
  <p>{{employee.nome}}</p>
</div> -->