<!-- Espaço retrátil -->
<div class="mt-4 ey-card p-3">
  <!-- Espaço livre -->
  <ng-container *ngTemplateOutlet="templateBody"> </ng-container>
</div>
<!-- Footer -->
<div class="ey-card--footer p-3">
  <div class="row">
    <div class="col-12 col-sm-auto">
      <div class="row">
        <div class="col-12 col-sm-auto px-2">
          <button type="submit" class="btn ey-btn--secondary float-right btn-block" (click)="Filtrar()">Filtrar</button>
        </div>
      </div>
    </div>
  </div>
</div>