#sidebar {
    min-height: 100vh;
    padding: 2em 0;
    background-color: #3D3A3A;
    text-align: center;
  }
  
  #content {
    background-color: #F5F5F5;
  }
  
  .sidebar-icon {
    margin: 2em 0;
  }

  .icon-menu {
      color: white;
  }