<div class="container-fluid pt-5 h-100">
  <div class="row h-100">
    <div class="col-12 h-100">
      <div class="card" style="height:95%">
        <form [formGroup]="formFilter" (ngSubmit)="onSubmit()">
          <label for="nome">Nome: </label>
          <input id="nome" type="text" formControlName="nome">
        
          <div class="col-12 col-md-8 col-lg-6 form-group">
            <label>Área</label>
            <select-drop-down
              [objectList]="lstArea"
              [objectValue]="'codigo'"
              [objectCode]="'codigo'"
              [objectDescription]="'descricao'"
              [exibitionBoxListType]="2"
              [exibitionSelectedType]="0"
              [enableButtonsCheck]="true"
              [styleCheckbox]="true"
              [showMaxSelectedItens]="5"
              [form]="formFilter"
              [nameFormControl]="'areas'"
            >
            </select-drop-down>
          </div>
          <p>Complete the form to enable button.</p>
          <button type="submit" [disabled]="!formFilter.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>